/* TODO: move global styles to separate stylesheet */
html {
  background: #234069;
  color: white;
}

/** Badge */

.App-badge {
  bottom: .5rem;
  position: fixed;
  right: .5rem;
}

/** Errors */
.App-errors {
  padding: .5rem .5rem 0;
}
.App-errors .ErrorAlert + .ErrorAlert {
  margin-top: .5rem;
}
