.About {
  text-align: left;
  padding: 0 5vw;
}
.About-link {
  color: inherit;
}
.About-link:active,
.About-link:focus,
.About-link:hover {
  opacity: 0.8;
}

.profile {
  text-align: center;
}

.profile img {
  width: 20vw;
}

.profile a {
  color: white;
}

.profile a:visited {
  color: lightgrey;
}
