.App {
  min-height: 100vh;
  text-align: center;
}

.App-main {
  margin: 0 auto;
  max-width: 80em;
  padding: 0 1em;
}

/** Badge */
.App .ConnectionBadge {
  bottom: .5rem;
  left: .5rem;
  position: fixed;
}