.Create {
  display: flex;
}
.Create-donut {
  background: #fff;
  color: #779;
}

@media (min-width: 32em) {
  .Create-donut {
    max-width: 32em;
    width: 50%;
  }
  .Create .DonutAttributeControls {
    flex-grow: 2;
  }
}
