.Create {
  padding: 0 1rem 3.5rem;
}
.Create .Donut {
  padding: 0;
}

@media (min-width: 32em) {
  .Create-donut {
    max-width: 32em;
    width: 50%;
  }
  .Create .DonutForm {
    flex-grow: 2;
  }
}
