/**
 * Deep fryer.
 */

.DeepFryer {
}

/** Badge */
.DeepFryer-badge {
  bottom: .5rem;
  left: .5rem;
  position: fixed;
}

/** Errors */
.DeepFryer-errors {
  padding: .5rem .5rem 0;
}
.DeepFryer-errors .ErrorAlert + .ErrorAlert {
  margin-top: .5rem;
}

/** Prediction */
.DeepFryer .DonutPredictionViewer {
  width: 50%;
}