/**
 * Deep fryer.
 */

.DeepFryer {
  display: flex;
}

/** Badge */
.DeepFryer-badge {
  bottom: .5rem;
  left: .5rem;
  position: fixed;
}

/** Errors */
.DeepFryer-errors {
  padding: .5rem .5rem 0;
}
.DeepFryer-errors .ErrorAlert + .ErrorAlert {
  margin-top: .5rem;
}

/** Prediction */
.DeepFryer .DonutPredictionViewer {
  height: calc(100vh - 2.75rem);
  width: 50%;
}

/** Firehose */
.DeepFryer .DonutViewer {
  height: calc(100vh - 2.75rem);
  width: 50%;
}
