.DonutForm {
  text-align: center;
}

.DonutForm-control {
  text-align: left;
}
.DonutForm-control label {
  display: block;
  padding-bottom: .25em;
  user-select: none;
}

.DonutForm-group {
  margin-bottom: 1.25em;
  position: relative;
  padding-right: 3.5rem;
}
@media (min-width: 32em) {
  .DonutForm-group {
    margin-bottom: 2em;
  }
}

.DonutForm-group .DonutForm-control + .DonutForm-control {
  margin-top: .75em;
}
.DonutForm-group .RatingIndicator {
  display: block;
  font-size: 175%;
  padding-top: .7em;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  width: 3rem;
}
.DonutForm-group:last-of-type .RatingIndicator {
  padding-top: 2.3em;
}

/**
 * Override basic `range` styles.
 * {@link https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/}
 */
.DonutForm input[type=range] {
  -webkit-appearance: none;
  background: transparent;
  margin: 0;
  width: 100%;
  height: 2.5rem;
}

.DonutForm input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.DonutForm input[type=range]:focus {
  outline: none;
}

.DonutForm input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}


.DonutForm input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 3rem;
  width: 1.5rem;
  border-radius: .75rem;
  background: #f288a9;
  cursor: pointer;
  margin-top: -1rem;
  box-shadow: none;
  border: .125rem solid #234069;
}
.DonutForm input[type=range]:focus::-webkit-slider-thumb {
  background: #234069;
}

.DonutForm input[type=range]::-moz-range-thumb {
  box-shadow: none;
  box-sizing: border-box;
  border: .125rem solid #234069;
  height: 3rem;
  width: 1.5rem;
  border-radius: .75rem;
  background: #f288a9;
  cursor: pointer;
}
.DonutForm input[type=range]:focus::-moz-range-thumb {
  background: #234069;
}

.DonutForm input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}


.DonutForm input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1rem;
  cursor: pointer;
  box-shadow: none;
  background: #fff;
  border-radius: .5rem;
  border: none;
}

.DonutForm input[type=range]:focus::-webkit-slider-runnable-track {
}

.DonutForm input[type=range]::-moz-range-track {
  width: 100%;
  height: 1rem;
  cursor: pointer;
  box-shadow: none;
  background: #fff;
  border-radius: .5rem;
  border: none;
}

.DonutForm input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
.DonutForm input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.DonutForm input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
.DonutForm input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.DonutForm input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}


/** Button */
.DonutForm button {
  background: #fff;
  border: none;
  border-radius: .25rem;
  color: #f288a9;
  cursor: pointer;
  display: inline-block;
  font-size: 125%;
  font-weight: 700;
  line-height: 1.25;
  padding: .75rem 1rem;
}
.DonutForm button:focus,
.DonutForm button:hover,
.DonutForm button:active {
  background: #f288a9;
  color: #fff;
}
