.DonutList {
  list-style: none;
  margin: 0 -.5em;
  padding: 0;
}

.DonutList li {
  padding: .5em;
}
.DonutList .Donut {
  background: #fff;
  color: #234069;
  padding-bottom: .5em;
}

@media (min-width: 32em) {
  .DonutList {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1em;
    margin-left: -1em;
  }
  .DonutList li {
    padding: 1em;
  }
  .DonutList li {
    width: 50%;
  }
}
@media (min-width: 40em) {
  .DonutList li {
    width: 33.33%;
  }
}
@media (min-width: 48em) {
  .DonutList li {
    width: 25%;
  }
}
