/**
 * Rating.
 */

.Rating {
  background: white;
  color: #234069;
  padding: 0 1rem .5rem 1rem;
  text-align: left;
}
.Rating table {
  border-collapse: collapse;
  margin: 0;
  width: 100%;
}
.Rating thead,
.Rating tfoot {
  font-weight: 700;
}
.Rating tr {
  border-top: thin solid #c4c4e6;
}
.Rating th,
.Rating td {
  padding: .25em 0;
}
.Rating th {
  font-weight: inherit;
}

@media (min-width: 20em) {
  .Rating tbody th {
    width: 70%;
  }
  .Rating td,
  .Rating th {
    padding-top: .5em;
    padding-bottom: .5em;
  }
}

/** TODO: Move styles to separate file */
.RatingWithScores tr > *:last-child {
  text-align: center;
}

@media (min-width: 20em) {
  .Rating.RatingWithScores tbody th {
    width: auto;
  }
}