/**
 * Rating.
 */

.Rating {
  background: white;
  color: #779;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 1rem 1rem 1rem;
  text-align: left;
}
.Rating dt,
.Rating dd {
  border-top: thin solid #c4c4e6;
  flex-shrink: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
  width: 50%;
}
.Rating dd {
  margin: 0;
}
