/**
 * Upload button.
 */

.Upload-Button {
  background: #f487a9;
  border-radius: .25rem;
  border: none;
  bottom: .5rem;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: 100%;
  font-weight: 700;
  line-height: inherit;
  padding: 0.75rem 1.25rem;
  position: absolute;
  right: .5rem;
  width: calc(100% - 1rem);
}
.Upload-Button:focus,
.Upload-Button:hover {
  background: #db6e90;
}
.Upload-Button:active {
  background: #c15476;
}

@media (min-width: 20em) {
  .Upload-Button {
    display: inline-block;
    font-size: 125%;
    padding: 1rem 1.5rem;
    width: auto;
  }
}
