.DonutSettings {
  text-align: left;
  padding: 1rem;
}

.DonutSettings-control {
  margin-bottom: 1.5rem;
}
.DonutSettings-control label {
  display: block;
  margin-bottom: .5rem;
}

/**
 * Override basic `range` styles.
 * {@link https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/}
 */
.DonutSettings input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

.DonutSettings input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.DonutSettings input[type=range]:focus {
  outline: none;
}

.DonutSettings input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}


.DonutSettings input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 2rem;
  width: 1rem;
  border-radius: 3px;
  background: #f288a9;
  cursor: pointer;
  margin-top: -.8rem;
  box-shadow: none;
  border: 2px solid #20426a;
}

.DonutSettings input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
.DonutSettings input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}


.DonutSettings input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: .5rem;
  cursor: pointer;
  box-shadow: none;
  background: #fff;
  border-radius: 3px;
  border: thin solid #20426a;
}

.DonutSettings input[type=range]:focus::-webkit-slider-runnable-track {
  background: #efcc9a;
}

.DonutSettings input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

.DonutSettings input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
.DonutSettings input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.DonutSettings input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
.DonutSettings input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.DonutSettings input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
